/* Personal CSS */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(46, 45, 45);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid rgb(248, 248, 248);
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  -webkit-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
  max-height: 250px;
  border: 1px solid rgba(221, 221, 255, 0.226);
}

.wrapper h1 {
  font-size: 20px;
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-wrapper div label {
  margin-bottom: 3px;
}

.form-wrapper div input {
  margin-bottom: 9px;
  padding: 8px;
  background-color: white;
  border: 1px solid rgb(241, 240, 240);
  -webkit-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.1);
}

.form-content {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-content: center;
  align-items: center;
}

button {
  margin-top: 10px;
  width: 30%;
  border: none;
  padding: 6px;
  border-radius: 25px;
}

button:hover {
  background-color: black;
  color: white;
  outline: none;
  transition-delay: 0.15s; /* delays for 1 second */
  -webkit-transition-delay: 0.15s; /* for Safari & Chrome */
}

.error {
  color: rgb(255, 166, 0);
  background-color: rgb(41, 35, 30);
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}
